# editor

.vscode

# dependencies

node_modules

# environment

.env 
.env.local
.env.development.local
.env.test.local
.env.production.local

# databases

data

# config

certbot
nginx/default.conf

# client

client/coverage
cilent/build

# logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
