version: "3.7"

services:
  mongo:
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
  redis:
    environment:
      - REDIS_PASSWORD
    command: sh -c 'exec redis-server --requirepass "$REDIS_PASSWORD"'
  graphql:
    command: pm2-runtime process.yml
  nginx:
    image: nginx:1.17-alpine
    container_name: nginx
    restart: always
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - 80:80
      - 443:443
    environment:
      - DOMAIN
    depends_on:
      - graphql
      - web
    command: >
      /bin/sh -c "envsubst '$$DOMAIN' < /etc/nginx/conf.d/nginx.template > /etc/nginx/conf.d/default.conf && \
        while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g 'daemon off;'"
  certbot:
    image: certbot/certbot
    container_name: certbot
    restart: always
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
